In [38]:
import pandas as pd
from datetime import datetime

In [39]:
filename = "Participants.csv"

In [40]:
df = pd.read_csv(filename)
df['updatedAt'] = datetime.now().isoformat()

df.head()

,name,user1,email1,user2,email2,updatedAt
0,Team Insight,Khushi Goyal,khushigoyal2228@gmail.com,Harneet kaur,Harneetkaursimran2003@gmail.com,2024-11-23T00:01:03.570505
1,Mavericks,Muhammad zakwan shamim siddiqi,muhammadzak2004@gmail.com,Anmol Niroula,xqz213@gmail.com,2024-11-23T00:01:03.570505
2,Brainstorm,Ayush Madhwal,ayushmadhwal19@gmail.com,Ayush Aggarwal,ayushagarwal0105@gmail.com,2024-11-23T00:01:03.570505
3,The Intellectuals,Shivansh Aggarwal,shivanshggrwl@gmail.com,Mohit Sharma,mb8494488@gmail.com,2024-11-23T00:01:03.570505
4,Panthers,Harshit kumar Singhal,Harshitsinghal1406@gmail.com,Nitesh Pandey,Pandeynitesh217@gmail.com,2024-11-23T00:01:03.570505

In [41]:
df_name = df[['name','updatedAt']]
df_name.to_csv('team_name.csv', index=False)

In [45]:

# File 2: Extract 'user1' and 'email1' columns
df_user1 = df[['user1', 'email1','updatedAt']]
df_user1 = df_user1.rename(columns={'user1': 'name', 'email1':'email'})
df_user1['teamId'] = range(64, 102)
df_user1.to_csv('user1.csv', index=False)

# File 3: Extract 'user2' and 'email2' columns
df_user2 = df[['user2', 'email2','updatedAt']]
df_user2 = df_user2.rename(columns={'user2': 'name', 'email2':'email'})
df_user2['teamId'] = range(64, 102)
df_user2.to_csv('user2.csv', index=False)