In [10]:
import pandas as pd

In [11]:
user1 = pd.read_csv('user1.csv')
user2 = pd.read_csv('user2.csv')

newdata = pd.read_csv('new.csv')
newdata.head()

,name,user1,email1,user2,email2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Team Insight,Khushi Goyal,khushigoyal2228@gmail.com,Harneet kaur,Harneetkaursimran2003@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN
1,Mavericks,Muhammad zakwan shamim siddiqi,muhammadzak2004@gmail.com,Anmol Niroula,xqz213@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN
2,Brainstorm,Ayush Madhwal,ayushmadhwal19@gmail.com,Ayush Aggarwal,ayushagarwal0105@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN
3,The Intellectuals,Shivansh Aggarwal,shivanshggrwl@gmail.com,Mohit Sharma,mb8494488@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN
4,Panthers,Harshit kumar Singhal,Harshitsinghal1406@gmail.com,Nitesh Pandey,Pandeynitesh217@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
email1 = user1['email']
email2 = user2['email']

known_emails = set(user1['email']).union(set(user2['email']))
new_emails = set(newdata['email1']).union(set(newdata['email2']))

In [13]:
unique_new_emails = new_emails - known_emails
print(unique_new_emails)

{'kumararyan9230@gmail.com', nan, 'dharivaishali9@gmail.com', 'shristisimran1926@gmail.com'}