In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('Submission_rows.csv')
df.head()

,id,quizId,teamId,userId,answers,submittedAt,createdAt,updatedAt,score
0,8,4,86,136,"{""5"":{""1"":3,""2"":1,""3"":3,""4"":2,""5"":4,""6"":1,""7"":...",2024-11-23 07:05:16.857,2024-11-23 07:05:16.857,2024-11-23 07:05:16.857,57.25
1,9,4,71,83,"{""5"":{""1"":1,""2"":1,""3"":3,""4"":2,""5"":2,""6"":4,""7"":...",2024-11-23 07:18:35.82,2024-11-23 07:18:35.82,2024-11-23 07:18:35.82,67.25
2,10,4,79,91,"{""5"":{""1"":3,""2"":1,""3"":3,""4"":4,""5"":1,""6"":3,""7"":...",2024-11-23 07:19:22.057,2024-11-23 07:19:22.057,2024-11-23 07:19:22.057,42.25
3,11,4,78,128,"{""5"":{""1"":3,""2"":1,""3"":3,""4"":2,""5"":4,""6"":4,""7"":...",2024-11-23 07:19:52.977,2024-11-23 07:19:52.977,2024-11-23 07:19:52.977,46.00
4,12,4,69,119,"{""5"":{""1"":2,""2"":1,""3"":3,""4"":2,""5"":4,""6"":3,""7"":...",2024-11-23 07:20:02.813,2024-11-23 07:20:02.813,2024-11-23 07:20:02.813,58.50

In [13]:
newdf = df.drop_duplicates(subset='userId', keep='first')
newdf.shape
newdf = newdf.sort_values(by='score', ascending=False, inplace=False)

In [15]:
newdf.to_csv('Submission.csv', index=False)