In [25]:
from datetime import datetime
import pandas as pd

In [26]:
filename = 'logo.csv'
# filename = input("filename : ")

In [27]:
# Load the data
df = pd.read_csv(filename)
df.head()

,question,option1,option2,option3,option4,answer,Unnamed: 6
0,This logo belongs to,Wendy's,Taco Bell,McDonald's,Dominos,option c,NaN
1,This logo belongs to,Chanel,Cartoon Network,Chevrolet,Christian Dior,Option a,NaN
2,This logo belongs to,Crown Plaza Hotel,Thomas Crown Affair movie,Crown Casino,Rolex,option d,NaN
3,Can you recognize this logo?,Royal Back Of Scotland,HSBC,The Common Wealth Games 2010,Arrow Van Heusen,option b,NaN
4,Can you recognize this logo?,United News Of India,Unilever,Uni Klinger Limited,Uni Style Image,option b,NaN

In [28]:


# Function to replace answer with OPTION label
def replace_answer_with_option(row):
    if row['answer'] == row['option1']:
        return 'OPTION1'
    elif row['answer'] == row['option2']:
        return 'OPTION2'
    elif row['answer'] == row['option3']:
        return 'OPTION3'
    elif row['answer'] == row['option4']:
        return 'OPTION4'
    
    return row['answer']

# Function to replace answer with OPTION label
def replace_answer_with_option_n(row):
    if row['answer'] == row['option1']:
        return 'OPTION1'
    elif row['answer'] == row['option2']:
        return 'OPTION2'
    elif row['answer'] == row['option3']:
        return 'OPTION3'
    elif row['answer'] == row['option4']:
        return 'OPTION4'
    
    return row['answer']

map = {
    "OPTIONA":"OPTION1",
    "OPTIONB":"OPTION2",
    "OPTIONC":"OPTION3",
    "OPTIOND":"OPTION4"
}
# Apply the function to each row
df['answer'] = df.apply(replace_answer_with_option, axis=1).str.upper().str.replace(' ','', regex=True)
df['answer'].head()

0    OPTIONC
1    OPTIONA
2    OPTIOND
3    OPTIONB
4    OPTIONB
Name: answer, dtype: object

In [29]:
df['answer'] = df['answer'].replace({
    'OPTIONA': 'OPTION1',
    'OPTIONB': 'OPTION2',
    'OPTIONC': 'OPTION3',
    'OPTIOND': 'OPTION4'
})

In [30]:

# df['answer'] = df.apply(lambda row, axis=1)
# df['type'] = df['type'].replace('text', 'TEXT')
df['type'] = "TEXT"#df['type'].replace('text', 'TEXT')
df['difficulty'] = "EASY"
df['roundId'] = 7
df['updatedAt'] = datetime.now().isoformat()

import os
links = [ f"https://quiz-bowl-2024.vercel.app/logo/{file}" for file in os.listdir('logo')]

df['link'] = links

# Check if the column exists before dropping
df = df.drop(columns=['Unnamed: 6'])

# Save the modified DataFrame
df.to_csv(f"updated_{filename}", index=False)